<div fxLayout="column" fxLayoutGap="25px" *ngIf="status$ | async as status">
  <mat-toolbar fxLayout="column" fxLayoutGap="35px" class="mat-elevation-z4">
    <span></span>
    <mat-toolbar-row fxLayout="row" fxLayoutGap="20px">
      <mat-form-field appearance="outline" fxFlex="1 1 auto">
        <mat-label>Search</mat-label>
        <input matInput>
        <mat-icon matPrefix>
          search
        </mat-icon>
      </mat-form-field>
      <button mat-flat-button color="accent" (click)="openDialog()">
        <mat-icon>add</mat-icon>
        Add document
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-progress-bar mode="query" color="accent" *ngIf="status === 'loading'"></mat-progress-bar>

  <ul *ngFor="let sent of sent$ | async">
    <li>
      {{sent.id}}
    </li>
    <li>{{sent.title}}</li>
  </ul>
</div>
