<div fxLayout="column" fxLayoutGap="15px">
  <mat-toolbar class="mat-elevation-z4">
    <mat-toolbar-row>
      <h1>Logistics</h1>
      <span fxFlex="1 1 auto"></span>
      <button mat-flat-button color="accent">
        <mat-icon>add</mat-icon>
          New order
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <!--Body-->
  <div class="body mat-elevation-z2">

    <mat-list dense>
      <h3 mat-subheader>Deliveries</h3>
      <mat-list-item>Pending</mat-list-item>
      <mat-list-item>Active</mat-list-item>
      <mat-list-item>Completed</mat-list-item>
      <mat-list-item>Canceled</mat-list-item>
    </mat-list>

    <mat-list dense>
      <h3 mat-subheader>Orders</h3>
      <mat-list-item >Pending</mat-list-item>
      <span matLine></span>
      <mat-list-item>Active</mat-list-item>
      <mat-list-item>Completed</mat-list-item>
      <mat-list-item>Canceled</mat-list-item>
    </mat-list>

    <mat-list dense>
      <h3 mat-subheader>Inventory</h3>
    </mat-list>

    <ul>
      <li>Deliveries</li>
      <ul>
        <li>Pending deliveries</li>
        <li>Deliveries in progress</li>
        <li>Completed deliveries</li>
        <li>Canceled deliveries</li>
      </ul>
      <li>Orders</li>
    </ul>

  </div>
</div>
