<div fxLayout="column" fxLayoutGap="15px">
  <mat-toolbar class="mat-elevation-z4">
    <mat-toolbar-row>
      <h1>Logistics</h1>
      <span fxFlex="1 1 auto"></span>
      <button mat-flat-button color="accent">
        <mat-icon>add</mat-icon>
          New order
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <!--Body-->
  <div class="body mat-elevation-z2">

    <ul>
      <li>Deliveries</li>
      <ul>
        <li>Pending deliveries</li>
        <li>Deliveries in progress</li>
        <li>Completed deliveries</li>
        <li>Canceled deliveries</li>
      </ul>
      <li>Orders</li>
    </ul>

  </div>
</div>
