<div fxLayout="column" fxLayoutGap="15px">
  <mat-toolbar class="mat-elevation-z4">
    <mat-toolbar-row>
      <h1>
        <span routerLink="../" class="link">Assets</span>/ Building / ID
      </h1>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="body mat-elevation-z2">
    <ul>
      <li>Building image (1 to 3)</li>
      <li>Building name</li>
      <li>Building code</li>
      <li>
        Building location
        <ul>
          <li>Street address</li>
          <li>LGA</li>
          <li>State</li>
          <li>Country</li>
          <li>Longitude</li>
          <li>Latitude</li>
        </ul>
      </li>
    </ul>
  </div>
</div>

