<mat-toolbar color="accent">
  <mat-icon>person_add</mat-icon><h1>New user</h1>
</mat-toolbar>

<mat-dialog-content [formGroup]="newUserForm" fxLayout="row wrap" fxLayoutGap="20px grid">

  <mat-form-field appearance="outline" fxFlex="30%">
    <mat-label>ID</mat-label>
    <input matInput formControlName="id">
  </mat-form-field>

  <mat-form-field appearance="outline" fxFlex="70%">
    <mat-label>email</mat-label>
    <input matInput formControlName="email">
    @if(false){
      <mat-hint align="end" color="warn">Email must be valid</mat-hint>
    }
  </mat-form-field>

  <mat-form-field appearance="outline" fxFlex="33.3%">
    <mat-label>First name</mat-label>
    <input matInput formControlName="firstName">
  </mat-form-field>

  <mat-form-field appearance="outline" fxFlex="33.3%">
    <mat-label>Middle name</mat-label>
    <input matInput formControlName="middleName">
  </mat-form-field>

  <mat-form-field appearance="outline" fxFlex="33.3%">
    <mat-label>Last name</mat-label>
    <input matInput formControlName="lastName">
  </mat-form-field>

<mat-form-field appearance="outline" fxFlex="50%">
  <mat-label>Password</mat-label>
  <input type="password" matInput formControlName="password">
</mat-form-field>

<mat-form-field appearance="outline" fxFlex="50%">
  <mat-label>Confirm password</mat-label>
  <input type="password" matInput formControlName="passwordConfirm">
  <mat-hint align="end"></mat-hint>
</mat-form-field>

</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions>
    <button mat-flat-button matDialogClose color="warn">
      Cancel
    </button>
    <span fxFlex="1 1 auto"></span>
    <button [disabled]="newUserForm.invalid" mat-flat-button color="accent" (click)="submit()" (newUserEvent)="addUser()">
      Submit
    </button>

</mat-dialog-actions>
