<div fxLayout="column" fxLayoutGap="25px">

  <mat-toolbar class="mat-elevation-z4">

    <mat-toolbar-row>
      <mat-icon>check_box</mat-icon>
      <h1>Assets</h1>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="section" fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutGap.xs="25px" fxLayoutGap.gt-xs="0px grid">

    <div class="pills" fxFlex="22%" fxLayout="row" routerLink="sites">
      <span fxFlex="5px"></span>
      <mat-icon color="accent" fxFlexAlign="center">pin_drop</mat-icon>
      <span fxFlex="5px"></span>
      <div fxLayout="column">
        <span>Sites</span>
      <h2>0</h2>
      </div>
    </div>

    <div class="pills" fxFlex="22%" fxLayout="row" routerLink="buildings">
      <span fxFlex="5px"></span>
      <mat-icon color="accent" fxFlexAlign="center">location_city</mat-icon>
      <span fxFlex="5px"></span>
      <div fxLayout="column">
        <span>Buildings</span>
      <h2>0</h2>
      </div>
    </div>

    <div class="pills" fxFlex="22%" fxLayout="row">
      <span fxFlex="5px"></span>
      <mat-icon color="accent" fxFlexAlign="center">motorcycle</mat-icon>
      <span fxFlex="5px"></span>
      <div fxLayout="column">
        <span>Machinery</span>
      <h2>0</h2>
      </div>
    </div>

    <div class="pills" fxFlex="22%" fxLayout="row">
      <span fxFlex="5px"></span>
      <mat-icon color="accent" fxFlexAlign="center">print</mat-icon>
      <span fxFlex="5px"></span>
      <div fxLayout="column">
        <span>Appliances</span>
      <h2>0</h2>
      </div>
    </div>

    <div class="pills" fxFlex="22%" fxLayout="row">
      <span fxFlex="5px"></span>
      <mat-icon color="accent" fxFlexAlign="center">directions_car</mat-icon>
      <span fxFlex="5px"></span>
      <div fxLayout="column">
        <span>Vehicles</span>
      <h2>0</h2>
      </div>
    </div>

    <div class="pills" fxFlex="22%" fxLayout="row">
      <span fxFlex="5px"></span>
      <mat-icon color="accent" fxFlexAlign="center">event_seat</mat-icon>
      <span fxFlex="5px"></span>
      <div fxLayout="column">
        <span>Furniture</span>
      <h2>0</h2>
      </div>
    </div>

</div>

<div class="section" fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutGap.xs="25px" fxLayoutGap.gt-xs="0px grid">
</div>


<div id="body" fxLayout="column" fxLayoutGap="25px">
  <div class="pill-region">
    <div class="pills">Sites</div>
    <div class="pills">Buildings</div>
    <div class="pills"></div>
    <div class="pills"></div>
  </div>
</div>
<ul>
  <li>Sites</li>
  <li>Buildings</li>
  <li>Machinery</li>
  <li>Tools</li>
  <li>Appliances</li>
  <li>Furniture</li>
  <li>Status summary
    <ul>
      <li>Total</li>
      <li>Excellent condition</li>
      <li>Mildly damaged</li>
      <li>Severely damaged</li>
    </ul>
  </li>

  <li>Repair history</li>
  <li>Renewables</li>
</ul>
