<h1 matDialogTitle>Title</h1>

<mat-dialog-content fxLayout="column" fxLayoutGap="15px" [formGroup]="newStaffForm">

    <mat-form-field appearance="outline">
      <mat-label>ID</mat-label>
      <input matInput formControlName="id">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>First name</mat-label>
      <input matInput formControlName="firstName">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Middle name</mat-label>
      <input matInput formControlName="middleName">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Last name</mat-label>
      <input matInput formControlName="lastName">
    </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-flat-button matDialogClose color="warn">Close dialog</button>
  <span fxFlex="1 1 auto"></span>
  <button mat-flat-button color="accent" [disabled]="newStaffForm.invalid" (click)="submit()">Submit</button>
</mat-dialog-actions>
