<div fxLayout="column" fxLayoutGap="15px">
  <mat-toolbar class="mat-elevation-z4">
    <mat-toolbar-row>
      <h1>Projects and tasks</h1>
      <span fxFlex="1 1 auto"></span>
    </mat-toolbar-row>
  </mat-toolbar>

  <!--Body-->
  <mat-tab-group>
    <mat-tab label="Projects">
      <mat-toolbar>
        <span fxflex="1 1 auto"></span>
        <button mat-flat-button color="accent" (click)="openAddProjectDialog()">
          <mat-icon>add</mat-icon>
          Add project
        </button>
      </mat-toolbar>
      Projects
      <ul>
        <li>Title</li>
        <li>Description</li>
        <li>Status</li>
        <li>Contractor</li>
      </ul>
    </mat-tab>
    <mat-tab label="Tasks">
      <mat-toolbar>
        <span fxflex="1 1 auto"></span>
        <button mat-flat-button color="accent" (click)="openAddTaskDialog()">
          <mat-icon>add</mat-icon>
          Add task
        </button>
      </mat-toolbar>
      Tasks
      <ul>
        <li>Title</li>
        <li>Description</li>
        <li>Members</li>
        <li>Status</li>
        <li>EDD</li>
      </ul>
    </mat-tab>
  </mat-tab-group>
</div>
